* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 650px;
  margin: 0 auto;
}

.main-container {
  background: pink;
  height: 100vh;
  flex:1;
}

header {
  background: #ffd1dc;
  margin-top: 0;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 23px;
  margin: 12px;
}

img {
  width: 650px;
}

p {
  padding: 18px;
  color: #232323;
}

a {
  text-decoration: none;
  color: #696969;
}

a:focus,
a:visited {
  color: #696969;
}

a:hover,
a:active {
  color: #010101;
}

li {
  display: inline-block;
  margin: 16px;
}

ul {
  list-style: none;
}

footer {
  background: pink;
  text-align: center;
  color: #757575;
}
